header
  .header
    a(href="#!")
      img(src="./images/icons/logo.svg", alt="logo")
    div(role="button" aria-label="menu-button" class="burger" id="burger-button")
      span
      span
      span
      span
    nav.header-mobile-nav#mobile-nav
      ul.nav
        li.nav-item
          a.nav-link.active(href="#") Home
        li.nav-item
          a.nav-link(href="#") TV Shows
        li.nav-item
          a.nav-link(href="#") Movies
        li.nav-item
          a.nav-link(href="#") Series
      ul.control
        li.control-item
          button.control-btn.control-btn_search
        li.control-item
          button.control-btn.control-btn_notice
        li.control-item
          button.control-btn.control-btn_account