- const title = 'Online TV';
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet", href="./styles/style.css")
    title #{title}
  body
    //- MIXIN
    include modules/mixin/movie-item
    include modules/mixin/genres-item
    include modules/mixin/actor-item

    //- CONTENT
    include modules/header
    include modules/banner
    include modules/main
    include modules/footer

    script(src="./js/main.js") 